@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply mx-auto p-[1.5rem] w-full max-w-[140rem] lg:max-w-[80rem];
}

.gallery .tns-outer{
    @apply max-w-[20rem]
}
.text__stroke {
    -webkit-text-stroke: 4px #ffffff;
    text-stroke: 4px #ffffff;
  }

      /* ------------------- scroll to top speed------------------- */

      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color:#0EB482;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }
      #myBtn:hover {
        background-color: black;
      }
      html {
        scroll-behavior: smooth
      }




@layer components{
/* .allmenu{
    @apply bg-primary
}    
.branding img{
    @apply mx-auto py-[1rem]
}
.whatsmenu {
    @apply py-[1rem] mx-[1rem] flex justify-between text-white 
}
.whatsmenu h1{
    @apply text-[1.1rem] font-extrabold
}

.toggle__menu.open span{
    @apply z-10 bg-white
}

.toggle__menu span{
    @apply w-[1.5rem] h-[.3rem] bg-white block transition ease-in-out duration-500
}

.toggle__menu span:nth-child(2){
    @apply my-[.2rem]
}

.toggle__menu.open span:first-child{
    @apply translate-y-[8px] rotate-[-230deg] transition ease-in-out duration-500;
}

.toggle__menu.open span:nth-child(2){
    @apply opacity-0 transition ease-in-out duration-500;
}

.toggle__menu.open span:last-child{
    @apply translate-y-[-8px] rotate-[230deg] transition ease-in-out duration-500;
}

.branding{
    @apply flex justify-between items-center;
}
.branding ul li{
    @apply py-2;
}
.branding ul li i{
    @apply text-primary mr-2;
}
.header__nav{
    @apply   max-h-0 overflow-hidden  
}
.header__nav ul{
    @apply transition-all;
}
.header__nav ul li{
    @apply my-1  transition-all;
}
.header__nav ul li a{
    @apply flex items-center relative justify-between p-4  hover:text-white hover:bg-primary  transition-all;
}
.header__nav ul li a span{
    @apply hidden w-full h-[.3rem]  absolute bg-primary -left-5 opacity-0;
}
.header__nav li:hover a span{
    @apply left-0 opacity-100 transition-all;
}
.header__nav ul li:hover .dropdown{
    @apply  opacity-100 transition-all;
}
.header__nav ul li a {
    @apply  transition-all;
}
.header__nav ul li a span.open{
    @apply rotate-180 transition-all;
}
.header__nav.open{
    @apply duration-500 transition-all max-h-fit;
}
.dropdown{
    @apply max-h-0 bg-white overflow-hidden transition-all duration-500;
}
.dropdown ul{
    @apply flex-col my-3 lg:mx-3;
}
.dropdown ul li{
    @apply lg:border-t-0;
}
.dropdown ul li a{
    @apply h-[1rem] px-10 py-5;
}
.dropdown.open{
    @apply max-h-full transition-all;
} */


 /*HEADER*/
 .header{
    @apply lg:mt-[5rem] lg:fixed lg:w-full lg:bg-transparent;
}
.header .header__wrapper{
    @apply lg:flex lg:items-center lg:justify-between lg:bg-bannerbg lg:max-w-[75rem] lg:mx-auto lg:rounded-md
}
.header .branding{
    @apply bg-lightpri p-[1.5rem] lg:bg-transparent;
}
.header .branding img{
    @apply mx-auto
}
.header__nav__title{
    @apply bg-primary p-[1rem] flex justify-between items-center lg:bg-transparent lg:hidden
}
.header__nav__title h2{
    @apply text-lightpri font-bold text-[1.3rem]
}
.header__nav__title .toggle__menu span{
    @apply w-[1.5rem] h-[.2rem] bg-lightpri block transition-all
}
.header__nav__title .toggle__menu.open span:first-child{
    @apply transform translate-y-[6px] rotate-[225deg] transition-all
}
.header__nav__title .toggle__menu.open span:nth-child(2){
    @apply opacity-0 transition-all
}
.header__nav__title .toggle__menu.open span:last-child{
    @apply transform translate-y-[-6px] rotate-[-225deg] transition-all
}
.header__nav__title .toggle__menu span:nth-child(2){
    @apply my-[.2rem]
}
.header__nav nav{
    @apply max-h-0 overflow-hidden transition-all lg:max-h-[200rem] lg:flex lg:items-center lg:p-[1.5rem];
}
.header__nav nav.open{
    @apply max-h-[200rem] transition-all
}
.header__nav nav li{
    @apply list-none
}
.header__nav .drop__nav h4{
    @apply flex items-center justify-between border-b-[1px] border-gray-400 px-[1.5rem] py-[.8rem] lg:border-none
    lg:gap-[.5rem]
}
.header__nav .drop__nav h4 p{
    @apply font-bold text-[1rem] lg:text-lightpri lg:font-normal
}
.header__nav .drop__nav .drop__toggle span{
    @apply w-[.8rem] h-[.2rem] bg-dark block transition-all lg:bg-lightpri lg:h-[.1rem] lg:w-[.5rem];
}
.header__nav .drop__nav .drop__toggle span:first-child{
    @apply lg:transform lg:rotate-[-45deg] lg:translate-x-[5px] lg:translate-y-[.15rem];
}
.header__nav .drop__nav .drop__toggle span:last-child{
    @apply transform rotate-[270deg] translate-y-[-.15rem] lg:rotate-[45deg] lg:translate-y-0;
}

.header__nav .drop__nav .drop__toggle.open span:last-child{
    @apply transform rotate-[0deg] transition-all
}
.header__nav .drop__content{
    @apply max-h-0 overflow-hidden transition-all lg:max-h-[20rem] lg:absolute lg:bottom-[-25rem] lg:bg-primary lg:min-w-[10rem] lg:opacity-0 lg:py-[1rem];
}
.header__nav .drop__content.open{
    @apply max-h-[200rem] transition-all;
}
.header__nav .drop__content ul li:not(first-child){
    @apply border-b-[1px] border-gray-400 lg:border-none;
}
.header__nav .drop__content ul li{
    @apply py-[1rem] lg:p-[1rem]
}
.header__nav .drop__content ul li a{
    @apply px-[3rem] text-[.8rem] lg:px-0 lg:text-lightpri lg:text-[1.2rem]
}
.header__nav .drop__content ul li:hover{
    @apply lg:bg-lightpri
}
.header__nav .drop__content ul li:hover a{
    @apply lg:text-primary
}
.header__nav nav a.free{
    @apply hidden lg:block 
}


/*-----------------------first__header----------------------*/
/* .imahe img{
    @apply mx-auto
} */


/*-----------------------banner----------------------*/
.banner{
    @apply relative bg-bannerbg bg-center bg-no-repeat lg:h-[100vh]
}
.branding img{
    @apply hidden absolute 
    lg:top-[5rem] lg:right-[5rem] lg:flex 
}
.banner__bg__text{
    @apply absolute top-[25%] left-0 opacity-20
    lg:left-[14.5rem] 
}
.banner__bg__text h4{
    @apply text-transparent text-[4rem] font-bold opacity-50
    lg:text-[8rem] 
}
.banner__text{
    @apply z-50 py-[10rem] 
}
.banner__text h1{
    @apply text-[1.5rem] pb-[1rem] text-white font-bold w-[18rem] text-center mx-auto
    lg:text-[60px] lg:w-[45rem] lg:text-left lg:mx-0
}
.banner__text p{
    @apply text-white w-[28rem] mx-auto text-center font-semibold
    lg:text-[20px] lg:w-[40rem] lg:text-left lg:mx-0
}
.banner__btn{
    @apply flex justify-center gap-[1rem] mt-[3.5rem]
    lg:justify-start
   
}
.banner__btn a{
    @apply duration-700 text-white bg-primary py-[1rem] px-[1.5rem] rounded text-[1rem] hover:bg-black hover:text-white transition-all
    
}
.banner__btn a:last-child{
    @apply duration-700 bg-transparent  border-[1px] border-primary text-primary py-[1rem] px-[1.5rem] rounded hover:bg-primary hover:text-white transition-all

}

/*-----------------------banner__slider----------------------*/

.slider__card{
    @apply border-[2px] border-primary py-[4rem] px-[2rem] hover:shadow-2xl rounded border-opacity-30 transition-all
}
.slider__card img{
    @apply mx-auto pb-[1rem]
}
.slider__text{
    @apply text-center
} 
.slider__card h1{
    @apply duration-500 text-textcolor text-[1.5rem] font-bold hover:text-primary  transition-all
}
.slider__card p{
    @apply text-[1rem] text-primary
}



/*-----------------------school----------------------*/
.school__wrapper{
    @apply lg:gap-[5rem] 
    lg:grid lg:grid-cols-2 lg:items-center 

}
.school__text h1:first-child{
    @apply text-primary pt-[2rem] text-[1.4rem] font-semibold
    lg:text-[16px] lg:pb-0
}
.school__text h1{
    @apply text-textcolor text-[1.4rem] font-bold
    lg:text-[40px] lg:font-extrabold lg:pb-[2rem]
}
.school__text{
    @apply pb-[2rem]  
}
.other__hand{
    @apply text-textcolor
    
}
.other__hand p{
    @apply text-textcolor pb-[2rem]  border-primary border-l-[3px]  pl-[1rem]
    lg:pt-[1rem]
}
.other__hand span{
    @apply lg:text-[17px]
}
.success h1{
    @apply pt-[2rem] font-extrabold text-textcolor
}
.success__bar{
    @apply my-[10px]; 
}
.success__bar__circle{
    @apply h-[3px] w-[90px] bg-primary my-0  relative rounded-[30px]
}
.success__bar__circle::before{
    @apply content-[""] absolute left-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding1
}
.success__bar__circle::after{
    @apply content-[""] absolute right-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding2
}


.gallery{
    @apply flex flex-col  h-fit pb-[5rem] 
     lg:pb-0
}
.gallery__item{
    @apply lg:w-[100%] lg:gap-[2rem]
}
.gallery__text{
    @apply mx-auto  mb-[2rem] px-[5rem] py-[.5rem] text-[1.5rem] font-semibold;
}
.gallery__wrapper{
    @apply flex items-center
    
}
.gallery__item__img{
    @apply h-fit overflow-hidden  mx-auto pt-[4rem]  
    lg:pt-[3rem] lg:w-[5rem];
}
.gallery__item__img img{
    @apply transition-all duration-500
    
}
.gallery__item__img:hover img{
    @apply transition-all duration-500 ;
}


 /* ------------------TODAY-------------------- */
 .today__wrapper h6{
    @apply text-[1.5rem] font-bold text-primary lg:text-center
}
.today__wrapper h3{
    @apply text-[1.62rem] font-bold text-textcolor mb-[2rem] lg:text-center;
}
.today__cards{
    @apply flex flex-col gap-[3rem] lg:grid lg:grid-cols-[_1fr,_1fr,_1fr]
}
.today__cards__item{
    @apply relative shadow-xl rounded-md;
}
.today__item__text{
    @apply flex flex-col gap-[.5rem] mt-[1.5rem];
}
.today__item__text h5{
    @apply text-dark text-[1.2rem] font-semibold mx-[1.5rem] hover:text-primary hover:duration-300;
}
.today__ratings{
    @apply flex items-center gap-3 mx-[1.5rem];
}
.today__ratings ul{
    @apply flex gap-1;
}
.today__ratings p{
    @apply text-[1.2rem] text-gray-400;
}
.today__ratings p span{
    @apply italic;
}
.author{
    @apply flex items-center gap-3 pb-[1.5rem] border-b;
}
.author img{
    @apply w-8 rounded-full ml-[1.5rem];
}
.author p{
    @apply text-[#777777] font-semibold mr-[1.5rem];
}
.author p span{
    @apply text-[#4b5981];
}
.price{
    @apply flex items-center justify-between mb-[1rem] mt-[.5rem] mx-[1.5rem];
}
.price p:first-child{
    @apply text-dark text-[1rem] font-semibold;
}
.img__text i{
    @apply absolute bg-white p-[.5rem] top-3 right-5 text-[1.5rem] rounded-sm
}
.img__text p{
    @apply absolute text-[1.2rem] text-white px-[.5rem] py-[.2rem] top-3 left-3 bg-primary rounded-md
}

/*-----------------------instructors----------------------*/
.instructors__cards{
    @apply border-[2px] border-primary border-opacity-30 py-[3rem] rounded hover:border-transparent hover:shadow transition-all
}
.instructors__title span{
    @apply text-primary text-[1.5rem] font-extrabold
}
.instructors__title h1{
    @apply pb-[3rem] text-[1.5rem] text-textcolor w-[18rem] font-extrabold
}
.instructors__items{
    @apply flex gap-[2rem]
}
.instructors__cards img{
    @apply mx-auto 
}
.instructors__name{
    @apply text-center py-[1rem]
}
.instructors__name a{
    @apply font-semibold text-textcolor hover:text-primary transition-all
}
.instructors__name p{
    @apply text-[15px] text-gray-400
}
.instructors__icons{
    @apply flex justify-center 
}
.instructors__icons ul{
    @apply flex gap-[.5rem]
}
.instructors__icons ul li{
    @apply duration-500 text-primary items-center text-center hover:text-white bg-lightpri hover:bg-primary w-[2rem] h-[2rem] rounded transition-all
}
.instructors .tns-controls{
    @apply flex justify-end
}


/*-----------------------facility----------------------*/
.facility__text h1{
    @apply text-primary text-[1.5rem] font-extrabold text-center
    lg:text-[16px]
}
.facility__text p{
    @apply text-[1.5rem] text-textcolor font-extrabold pb-[2rem] w-[25rem] text-center mx-auto
    lg:text-[40px] lg:w-[50rem]
}
.facility__card{
    @apply border-opacity-30 mb-[2rem] border-[2px] rounded border-primary py-[3rem] text-center hover:border-transparent hover:shadow transition-all
    lg:w-[17rem]
}
.facility__card img{
    @apply mx-auto pb-[1rem]
}
.card__text a{
    @apply text-[1.5rem] text-textcolor font-bold hover:text-primary transition-all
}
.card__text p{
    @apply text-[1rem] text-grayy
}
.facility__item{
    @apply lg:grid lg:grid-cols-4
}


/*-----------------------latest----------------------*/
.latest__title span{
@apply text-[1.5rem] text-primary font-extrabold
}
.latest__title h1{
    @apply  text-[1.5rem] text-textcolor font-extrabold w-[25rem] pb-[3rem]
}
.latest__card img{
    @apply h-[24rem] w-[100%] 
}
.latest__item{
    @apply flex gap-[2rem]
}
.latest__name {
    @apply border-[1px] border-gray-300 border-opacity-30 h-[15rem] pl-[1rem] hover:shadow-xl transition-all 
}
.latest__name h1{
    @apply pt-[2rem] pb-[1rem] text-textcolor font-semibold hover:text-primary transition-all
}
.latest__date ul{
    @apply flex gap-[1rem] text-primary text-[1rem] pb-[2rem]
}
.latest__btn a{
    @apply text-[1.2rem] text-textcolor border-[1px]  border-opacity-30 py-[.8rem] px-[1.5rem] rounded hover:bg-primary hover:text-white transition-all
}
.latest .tns-controls{
    @apply flex justify-end
}

/*-----------------------textimonail----------------------*/
.testimonail__title{
    @apply relative
}
.testimonail__wrapper {
    @apply lg:grid lg:grid-cols-2
}
.testimonail__title{
    @apply text-[25px] py-[3rem] 
}
.first___title{
    @apply text-center
}
.testimonail__title span{
    @apply text-primary font-extrabold 
}
.testimonail__title h1{
    @apply  text-textcolor font-extrabold 
}
.testimonail__card{
    @apply px-[1rem] pt-[2.5rem]
}
.testimonail__card p{
    @apply text-gray-500 w-[25rem]  pb-[1rem] text-[19px]
}
.testimonail__icons ul{
    @apply text-[20px] flex text-primary gap-[.5rem] pb-[1.5rem]
}
.teacher img{
    @apply w-[3.8rem] h-[3.8rem]
}
.teacher{
    @apply flex gap-[1rem]
}
.teacher__name{
    @apply items-center 
}
.teacher__name h1{
    @apply text-[17px] font-semibold text-textcolor
}
.teacher__name p{
    @apply text-[16px] font-semibold text-primary
}
.testimonail .tns-controls{
    @apply flex justify-between absolute top-[100%]
}




/*-----------------------newsletter----------------------*/
.news__letter{
    @apply absolute  bg-primary m-[2rem] rounded h-[20rem]
}
.news__title h2{
    @apply text-white text-[27px] font-semibold
}
.news__title p{
    @apply text-white
}
.mc4wp-form-fields input{
    @apply outline-none
}



/*-----------------------middle-footer----------------------*/
.footer__middle {
    @apply bg-dark top-[-8rem]
}
.description__area img{
    @apply mx-auto pt-[12rem] pb-[2rem]
    lg:pt-[1.8rem]
}
.description__area p{
    @apply pb-[1rem] text-[1.2rem] 
}
.middle__row{
    @apply text-center text-white
    lg:grid lg:grid-cols-4
}
.social-icons i{
    @apply duration-500 border-[1px] border-white hover:border-primary h-[2.2rem] w-[2.2rem] items-center leading-[36px] text-center rounded hover:bg-primary transition-all
}
.nav_menu1 h2{
    @apply text-[1.5rem] font-bold pt-[2rem] pb-[1.5rem]
}
.menu__container ul li a{
    @apply text-[1.2rem]
}
.menu__container ul li {
    @apply duration-700 pb-[1rem] hover:text-primary transition-all
}
.custom__html h2{
    @apply text-[1.5rem] pt-[1.5rem] pb-[1rem]
    lg:pt-[2rem]
}
.witr_sub_table{
    @apply flex justify-between text-[1.2rem] pb-[8px] border-b-[1px] mb-[8px]
}

/*-----------------------footer----------------------*/
.footer-bottom{
    @apply relative bg-dark text-white pt-[3rem]
}
.copy-right-text{
    @apply flex justify-center pb-[1rem] pt-[1rem] text-[1rem]
}
.text-right{
    @apply flex justify-center  gap-[1rem] 
    
}
.text-right li{
    @apply duration-700  hover:text-primary transition-all text-[1rem]
}
.row{
    @apply border-t-[1px]
lg:flex lg:justify-between lg:items-center
}


}
