@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply mx-auto p-[1.5rem] w-full max-w-[140rem] lg:max-w-[80rem];
}

.btn--solid{
    @apply inline-block text-light text-[1.2rem] bg-primary px-[1.5rem] py-[.5rem] rounded-md font-semibold transition-all border-[1px] border-transparent hover:bg-dark hover:transition-all
}
.btn--outline{
    @apply inline-block text-primary text-[1.2rem] bg-transparent px-[1.5rem] py-[.5rem] rounded-md font-semibold transition-all border-[1px] border-primary hover:bg-primary hover:transition-all hover:text-light
}

@layer utilities{
    .btn{
        @apply p-3 rounded-md;
    }
    .btn.green{
        @apply bg-[hsl(161.68,85.64%,38.24%)] text-white font-semibold hover:bg-[#444] transition-all duration-500;
    }
    .btn.green-outline{
        @apply border-[.1rem] font-semibold border-[hsl(161.68,85.64%,38.24%)] text-[hsl(161.68,85.64%,38.24%)] hover:bg-[hsl(161.68,85.64%,38.24%)] hover:text-white transition-all duration-500;
    }
}



.text__stroke {
    -webkit-text-stroke: 4px #ffffff;
    text-stroke: 4px #ffffff;
  }

      /* ------------------- scroll to top speed------------------- */

      body {
        font-family: Raleway, sans-serif;
        font-size: 20px;
      }
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color:#0EB482;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }
      #myBtn:hover {
        background-color: black;
      }
      html {
        scroll-behavior: smooth
      }




@layer components{


/*-----------------------header----------------------*/
.header__wrapper:first-child{
    @apply py-2 lg:bg-[hsl(161.68,85.64%,38.24%)];
}
.header__content{
    @apply flex items-center w-full max-w-[100rem] mx-auto justify-center lg:justify-between;
}
.header__text{
    @apply hidden  lg:flex items-center text-white gap-4 font-semibold;
}
.header__text a{
    @apply flex items-center;
}
.header__icons{
    @apply hidden lg:flex items-center gap-3 text-white text-[1.4rem] ;
}
.header__icons a{
    @apply hover:text-black transition-all duration-500;
}
.header__actions {
    @apply hidden lg:block;
}
.header__actions {
    @apply hidden lg:block text-white font-semibold;
}
.header__actions a:first-child{
    @apply border-r-2;
}
.header__actions a{
    @apply px-5 ;
}
.header__actions a i{
    @apply mx-2;
}
.header__logo{
    @apply lg:hidden;
}
.header__wrapper:last-child{
    @apply lg:fixed lg:w-full lg:top-[5rem] z-50 transition-all duration-500;
}
.header__wrapper:last-child.top{
    @apply lg:top-0 transition-all duration-500;
}
.header__brand{
    @apply hidden lg:block lg:py-2;
}
.header__quate{
    @apply hidden lg:inline-block w-[11rem] text-[1.2rem] mx-auto;
}
.header__container{
    @apply flex flex-col items-center justify-between lg:flex-row lg:bg-[hsl(211.08,63.36%,25.69%)] lg:p-[1.5rem] lg:rounded-md lg:w-full lg:max-w-[80rem] lg:mx-auto;
}
.header__wrapper h6{
    @apply bg-[hsl(161.68,85.64%,38.24%)] lg:hidden w-full lg:w-fit px-4 py-2 relative text-white font-bold text-[1.5rem] lg:bg-transparent; 
}
.header__wrapper ul{
    @apply bg-white w-full h-0 overflow-hidden lg:overflow-visible transition-all left-0 top-[3.2rem] lg:bg-transparent lg:h-fit lg:flex lg:items-center lg:justify-center;
}
.header__wrapper ul.open{
    @apply h-full transition-all lg:h-fit;
}
.header__wrapper ul li{
    @apply py-3 text-[#444] lg:text-white font-semibold border-t-2 relative lg:border-0;
}
.header__wrapper ul li a{
    @apply pl-4 flex items-center;
}
.header__wrapper ul li a span::before{
    @apply content-[""] absolute block bg-[#444] w-4 h-1 right-[1rem] transition-all duration-500 lg:hidden;
}
.header__wrapper ul li a span::after{
    @apply content-[""] absolute block bg-[#444] w-1 h-4 right-[1.4rem] -translate-y-[.38rem] transition-all duration-500 lg:hidden;
}
.header__wrapper ul li a.open span::after{
    @apply hidden transition-all duration-500;
}
.header__wrapper ul li a i{
    @apply px-2 hidden lg:block;
}
.dropdown{
    @apply z-10 h-full max-h-0 overflow-hidden transition-all lg:absolute lg:translate-y-10 lg:opacity-0 lg:top-[3rem] lg:left-0;
}
.header__wrapper ul li:hover .dropdown{
    @apply lg:overflow-visible lg:max-h-[20rem] lg:opacity-100 lg:translate-y-0 transition-all;
}
.dropdown.open{
    @apply max-h-[50rem] transition-all duration-500;
}
.dropdown ul{
    @apply flex flex-col top-0 mt-3 lg:m-0 h-full lg:h-fit lg:bg-[hsl(161.68,85.64%,38.24%)] transition-all duration-500;
}
.dropdown ul li{
    @apply font-normal lg:w-[15rem] lg:hover:bg-white lg:hover:text-primary transition-all relative duration-500;
}
.dropdown ul li a{
    @apply hover:text-[hsl(161.68,85.64%,38.24%)] transition-all ml-[2rem] lg:m-0;
}
.dropdown ul li a::before{
    @apply hidden;
}
.dropdown ul li a::after{
    @apply hidden;
}
.dropdown ul li:hover .dropdown.children ul{
    @apply lg:opacity-100 lg:top-[-2rem] transition-all duration-500;
}
.dropdown ul li:hover .dropdown.children-portfolio ul{
    @apply lg:opacity-0 transition-all duration-500;
}
.dropdown.children ul{
    @apply lg:opacity-0 lg:m-0 lg:absolute lg:left-[15rem] lg:w-fit lg:top-[2rem] transition-all duration-500;
}
.dropdown.children ul li{
    @apply relative transition-all;
}
.dropdown.children ul li a{
    @apply px-[2rem] transition-all;
}
.dropdown.children-portfolio ul{
    @apply lg:opacity-0 lg:invisible lg:absolute lg:py-[1rem] lg:left-[-15rem] lg:max-h-fit lg:w-fit lg:top-0 lg:translate-y-5 transition-all duration-500;
}
.dropdown.children ul li:hover .dropdown.children-portfolio ul{
    @apply lg:opacity-100 lg:visible lg:-translate-y-2 transition-all duration-500;
}
.dropdown.children-portfolio ul li a{
    @apply px-[4rem] lg:px-[1rem] w-[20rem] transition-all;
}
.toggle__menu{
    @apply absolute right-5 top-[35%] lg:hidden;
}
.toggle__menu span{
    @apply block bg-white h-[.2rem] w-[2rem] rounded-full;
}
.toggle__menu span:nth-child(2){
    @apply my-1;
}
.toggle__menu.open span:first-child{
    @apply rotate-[45deg] translate-y-2;
}
.toggle__menu.open span:nth-child(2){
    @apply opacity-0 transition-all;
}
.toggle__menu.open span:last-child{
    @apply rotate-[-45deg] -translate-y-2;
}


/*-----------------------banner----------------------*/
.banner{
    @apply bg-bannerbg bg-cover h-[50rem] bg-no-repeat relative lg:h-[65rem];
}
.banner .container{
    @apply max-w-[100rem]
    lg:relative ;
}
.banner__content{
    @apply flex items-center justify-between
    lg:mt-[8rem];
}
.banner__item{
    @apply flex items-center;
}
.banner__item img{
    @apply hidden lg:block w-full lg:w-[40rem];
}
.banner__text{
    @apply text-center w-full relative lg:text-left lg:pt-[1rem];
}
.banner__text h1{
    @apply absolute left-0 top-0 z-[-1] text-gray-700 opacity-80 stroke-inherit font-bold text-[4rem] leading-none lg:text-[9rem];
}
.banner__text h4{
    @apply text-white text-[2rem] lg:text-[4rem] w-[24rem] lg:w-[46rem] mx-auto lg:m-0 font-bold lg:leading-[6rem];
}
.banner__text p{
    @apply text-white text-[1.5rem] w-[25rem] lg:w-[40rem] mx-auto lg:m-0 mb-5;
}
.banner__actions{
    @apply text-[1.2rem] my-[2rem] w-full lg:w-fit;
}
.banner .tns-controls{
    @apply flex justify-between absolute  w-full  top-[25rem] mx-[2rem]
}
.banner .tns-controls i{
    @apply text-white flex items-center justify-center w-[55px] h-[55px] bg-primary p-[1rem] rounded-full hover:border-transparent hover:bg-textcolor duration-500
}
/*-----------------------banner__slider----------------------*/
.banner__slider{
    @apply relative
}
.banner__slider__wrapper{
    @apply flex gap-[2rem]
}
.slider__card{
    @apply border-[2px] border-primary py-[4rem] px-[2rem] hover:shadow-2xl rounded border-opacity-30 transition-all
}
.slider__card img{
    @apply mx-auto pb-[1rem]
}
.slider__text{
    @apply text-center
} 
.slider__card h1{
    @apply duration-500 text-textcolor text-[1.5rem] font-bold hover:text-primary  transition-all
}
.slider__card p{
    @apply text-[1rem] text-primary
}
.banner__slider .tns-controls{
    @apply flex justify-between top-[7rem] pb-[2rem]
}
.banner__slider .tns-controls i{
    @apply text-white flex items-center justify-center w-[55px] h-[55px] bg-primary p-[1rem] rounded-full hover:border-transparent hover:bg-textcolor duration-500
}



/*-----------------------school----------------------*/
.school__wrapper{
    @apply lg:gap-[5rem] 
    lg:grid lg:grid-cols-2 lg:items-center 

}
.school__text h1:first-child{
    @apply text-primary pt-[2rem] text-[1.4rem] font-semibold
    lg:text-[16px] lg:pb-0
}
.school__text h1{
    @apply text-textcolor text-[1.4rem] font-bold
    lg:text-[40px] lg:font-extrabold lg:pb-[2rem]
}
.school__text{
    @apply pb-[2rem]  
}
.other__hand{
    @apply text-textcolor
    
}
.other__hand p{
    @apply text-textcolor pb-[2rem]  border-primary border-l-[3px]  pl-[1rem]
    lg:pt-[1rem]
}
.other__hand span{
    @apply lg:text-[17px]
}
.success h1{
    @apply pt-[2rem] font-extrabold text-textcolor
}
.success__bar{
    @apply my-[10px]; 
}
.success__bar__circle{
    @apply h-[3px] w-[90px] bg-primary my-0  relative rounded-[30px]
}
.success__bar__circle::before{
    @apply content-[""] absolute left-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding1
}
.success__bar__circle::after{
    @apply content-[""] absolute right-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding2
}


.gallery{
    @apply flex flex-col  h-fit pb-[5rem] 
     lg:pb-0
}
.gallery__item{
    @apply lg:w-[100%] lg:gap-[2rem]
}
.gallery__text{
    @apply mx-auto  mb-[2rem] px-[5rem] py-[.5rem] text-[1.5rem] font-semibold;
}
.gallery__wrapper{
    @apply flex items-center
    
}
.gallery__item__img{
    @apply h-fit overflow-hidden  mx-auto pt-[4rem]  
    lg:pt-[3rem] lg:w-[5rem];
}
.gallery__item__img img{
    @apply transition-all duration-500
    
}
.gallery__item__img:hover img{
    @apply transition-all duration-500 ;
}


 /* ------------------TODAY-------------------- */
 .today__wrapper h6{
    @apply text-[1.5rem] font-bold text-primary lg:text-center
}
.today__wrapper h3{
    @apply text-[1.62rem] font-bold text-textcolor mb-[2rem] lg:text-center;
}
.today__cards{
    @apply flex flex-col gap-[3rem] lg:grid lg:grid-cols-[_1fr,_1fr,_1fr]
}
.today__cards__item{
    @apply relative shadow-xl rounded-md;
}
.today__item__text{
    @apply flex flex-col gap-[.5rem] mt-[1.5rem];
}
.today__item__text h5{
    @apply text-dark text-[1.2rem] font-semibold mx-[1.5rem] hover:text-primary hover:duration-300;
}
.today__ratings{
    @apply flex items-center gap-3 mx-[1.5rem];
}
.today__ratings ul{
    @apply flex gap-1;
}
.today__ratings p{
    @apply text-[1.2rem] text-gray-400;
}
.today__ratings p span{
    @apply italic;
}
.author{
    @apply flex items-center gap-3 pb-[1.5rem] border-b;
}
.author img{
    @apply w-8 rounded-full ml-[1.5rem];
}
.author p{
    @apply text-[#777777] font-semibold mr-[1.5rem];
}
.author p span{
    @apply text-[#4b5981];
}
.price{
    @apply flex items-center justify-between mb-[1rem] mt-[.5rem] mx-[1.5rem];
}
.price p:first-child{
    @apply text-dark text-[1rem] font-semibold;
}
.img__text i{
    @apply absolute bg-white p-[.5rem] top-3 right-5 text-[1.5rem] rounded-sm
}
.img__text p{
    @apply absolute text-[1.2rem] text-white px-[.5rem] py-[.2rem] top-3 left-3 bg-primary rounded-md
}

/*-----------------------instructors----------------------*/
.instructors{
    @apply relative
}
.instructors__cards{
    @apply border-[2px] border-primary border-opacity-30 py-[3rem] rounded hover:border-transparent hover:shadow transition-all
}
.instructors__title span{
    @apply text-primary text-[1.5rem] font-extrabold
    lg:text-[16px] 
}
.instructors__title h1{
    @apply pb-[3rem] text-[1.5rem] text-textcolor w-[18rem] font-extrabold
    lg:text-[40px] lg:w-[30rem]
}
.instructors__items{
    @apply flex gap-[2rem]
}
.instructors__cards img{
    @apply mx-auto 
}
.instructors__name{
    @apply text-center py-[1rem]
}
.instructors__name a{
    @apply font-semibold text-textcolor hover:text-primary transition-all
}
.instructors__name p{
    @apply text-[15px] text-gray-400
}
.instructors__icons{
    @apply flex justify-center 
}
.instructors__icons ul{
    @apply flex gap-[.5rem]
}
.instructors__icons ul li{
    @apply duration-500 text-primary items-center text-center hover:text-white bg-lightpri hover:bg-primary w-[2rem] h-[2rem] rounded transition-all
}
.instructors .tns-controls{
    @apply absolute top-[7rem] left-[74%] flex justify-end  gap-[1.5rem] pb-[2rem]
}
.instructors .tns-controls i{
    @apply text-white flex items-center justify-center w-[55px] h-[55px] bg-primary p-[1rem] rounded-full hover:border-transparent hover:bg-textcolor duration-500
}



/*-----------------------facility----------------------*/
.facility__text h1{
    @apply text-primary text-[1.5rem] font-extrabold text-center
    lg:text-[16px]
}
.facility__text p{
    @apply text-[1.5rem] text-textcolor font-extrabold pb-[2rem] w-[25rem] text-center mx-auto
    lg:text-[40px] lg:w-[50rem]
}
.facility__card{
    @apply border-opacity-30 mb-[2rem] border-[2px] rounded border-primary py-[3rem] text-center hover:border-transparent hover:shadow transition-all
    lg:w-[17rem]
}
.facility__card img{
    @apply mx-auto pb-[1rem]
}
.card__text a{
    @apply text-[1.5rem] text-textcolor font-bold hover:text-primary transition-all
}
.card__text p{
    @apply text-[1rem] text-grayy
}
.facility__item{
    @apply lg:grid lg:grid-cols-4
}




/*-----------------------latest----------------------*/
.latest{
    @apply relative
}
.latest__title span{
@apply text-[1.5rem] text-primary font-extrabold
}
.latest__title h1{
    @apply  text-[1.5rem] text-textcolor font-extrabold w-[25rem] pb-[3rem]
}
.latest__card img{
    @apply h-[24rem] w-[100%] 
}
.latest__item{
    @apply flex gap-[2rem]
}
.latest__name {
    @apply border-[1px] border-gray-300 border-opacity-30 h-[15rem] pl-[1rem] hover:shadow-xl transition-all 
}
.latest__name h1{
    @apply pt-[2rem] pb-[1rem] text-textcolor font-semibold hover:text-primary transition-all
}
.latest__date ul{
    @apply flex gap-[1rem] text-primary text-[1rem] pb-[2rem]
}
.latest__btn a{
    @apply text-[1.2rem] text-textcolor border-[1px]  border-opacity-30 py-[.8rem] px-[1.5rem] rounded hover:bg-primary hover:text-white transition-all
}

.latest .tns-controls{
    @apply absolute top-[5rem] left-[74%] flex justify-end  gap-[1.5rem] pb-[2rem]
}
.latest .tns-controls i{
    @apply text-white flex items-center justify-center w-[55px] h-[55px] bg-primary p-[1rem] rounded-full hover:border-transparent hover:bg-textcolor duration-500
}

/*-----------------------textimonail----------------------*/
.testimonail__title{
    @apply relative 
}
.testimonail__wrapper {
    @apply lg:grid lg:grid-cols-2
}
.testimonail__title{
    @apply text-[25px] py-[3rem] 
}
.first___title{
    @apply text-center
}
.testimonail__title span{
    @apply text-primary font-extrabold 
    lg:text-[16px] 
}
.testimonail__title h1{
    @apply  text-textcolor font-extrabold 
    lg:text-[40px] lg:w-[40rem]
}
.testimonail__card{
    @apply lg:px-[4rem] pt-[2.5rem]
}
.testimonail__card p{
    @apply text-gray-500 w-[25rem]  pb-[1rem] text-[19px]
}
.testimonail__icons ul{
    @apply text-[20px] flex text-primary gap-[.5rem] pb-[1.5rem]
}
.teacher img{
    @apply w-[3.8rem] h-[3.8rem]
}
.teacher{
    @apply flex gap-[1rem]
}
.teacher__name{
    @apply items-center 
}
.teacher__name h1{
    @apply text-[17px] font-semibold text-textcolor
}
.teacher__name p{
    @apply text-[16px] font-semibold text-primary
}
.testimonail .tns-controls{
    @apply left-[4rem] flex justify-between gap-[1.5rem] absolute top-[100%] duration-500
}
.testimonail  .tns-controls i{
    @apply text-white flex items-center justify-center w-[55px] h-[55px] bg-primary p-[.5rem] rounded-full hover:border-transparent hover:bg-textcolor duration-500
}



/*-----------------------onlinepage----------------------*/
 .onlinepage{
    @apply pt-[2rem] pb-[2rem];
}

.onlinepage__wrapper{
    @apply mt-[1.5rem];
}

.onlinepage-title h3{
    @apply text-center text-primary font-bold text-[1.5rem];
}

.onlinepage-title h4{
    @apply text-dark font-bold text-[1.6rem] text-center w-[23rem] mx-auto leading-[1.2];
}

.onlinepage-item{
    @apply border-primary border-solid border-[2px] border-opacity-50 p-[2rem] transition-[.5s] ease-in shadow-2xl;
}

.onlinepage-item:hover{
    @apply border-opacity-0 transition-[.5s] ease-in;
}

.onlinepage-item:last-child{
    @apply mt-[3rem];
}

.onlinepage-text{
    @apply mt-[1rem];
}

.onlinepage-text h4{
    @apply text-primary font-bold text-[1rem] mb-[.8rem];
}

.onlinepage-text a{
    @apply text-dark font-bold text-[1.7rem] leading-[1] transition-[.5s] ease-in;
}
.onlinepage-text a:hover{
    @apply text-primary transition-[.5s] ease-in;
}
.onlinepage-btn{
    @apply mt-[3rem];
}
.testimonials__card__actions{
    @apply h-[5rem] relative;
}
.testimonials__card__actions span{
    @apply inline-block mt-[1rem] z-20 bg-primary w-[2rem] h-[2rem] rounded-full relative transition-all duration-500;
} 
.testimonials__card__actions span::before{
    @apply content-[""] block absolute w-[.8rem] lg:w-[.9rem] h-1 bg-white left-[30%] top-[45%];
} 
.testimonials__card__actions span::after{
    @apply content-[""] block absolute w-1 h-[.8rem] bg-white left-[45%] top-[30%];
} 
.testimonials__card__actions a{
    @apply absolute inline-block w-[7rem] text-center lg:w-[9rem] h-[2rem] lg:h-[2.5rem] lg:text-[1.5rem] opacity-0 left-0 top-0 text-white font-bold p-1 rounded-md transition-all duration-500;
} 
.testimonials__card__actions a::after{
    @apply content-[""] block absolute top-0 left-0 rounded-md bg-primary w-0 h-full z-[-1] transition-all duration-500;
}
.testimonials__card:hover .testimonials__card__actions a::after{
    @apply w-full h-full transition-all duration-500;
}
.testimonials__card:hover .testimonials__card__actions a{
    @apply opacity-100 transition-all duration-500;
}
.testimonials__card:hover .testimonials__card__actions span{
    @apply w-0 h-0 transition-all duration-500;
}
.testimonials__card:hover .testimonials__card__actions span::before{
    @apply opacity-0 transition-all duration-500;
}
.testimonials__card:hover .testimonials__card__actions span::after{
    @apply opacity-0 transition-all duration-500;
}

@media (min-width:1080px){
    .onlinepage-title h3{
        @apply text-[1rem];
    }
    .onlinepage-title h4{
        @apply text-[3rem] w-[40rem];
    }
    .onlinepage__wrapper{
        @apply flex items-center gap-[1.8rem] mt-[2rem];
    }
    .onlinepage-item:last-child{
        @apply mt-0;
    }
    .onlinepage-item{
        @apply flex items-center gap-[2rem];
    }



}



/*-----------------------newsletter----------------------*/
.news{
    @apply translate-y-[10rem] lg:relative
}
.news__letter{
    @apply bg-primary m-[2rem] rounded h-[20rem]
    lg:w-[75rem] lg:mx-auto lg:h-[15rem] lg:items-center lg:flex
}
.news__title h2{
    @apply text-white text-[27px] font-semibold pt-[1rem]
    lg:text-[40px]
}
.news__title p{
    @apply text-white pb-[2rem] text-[1.2rem]
}
.mc4wp-form-fields input{
    @apply outline-none w-[23rem] rounded pl-[2rem] py-[1rem] text-[1rem]
    
}
.witr_shortcode_form button{
    @apply bg-textcolor text-white w-[23rem] py-[.5rem] rounded hover:bg-dark duration-500
    lg:w-[10rem] 
}
.witr_shortcode_form form{
    @apply pb-[1rem] lg:pb-0
}
.shortcode_content{
    @apply lg:flex lg:justify-between lg:items-center
}
.witr_shortcode_form{
    @apply lg:flex
}


/*-----------------------middle-footer----------------------*/
.footer__middle {
    @apply bg-dark top-[-8rem]
}
.description__area img{
    @apply mx-auto pt-[12rem] pb-[2rem]
    lg:pt-[1.8rem]
}
.description__area p{
    @apply pb-[1rem] text-[1.2rem] 
}
.middle__row{
    @apply text-center text-white
    lg:grid lg:grid-cols-4 lg:pt-[10rem]
}
.social-icons i{
    @apply duration-500 border-[1px] border-white hover:border-primary h-[2.2rem] w-[2.2rem] items-center leading-[36px] text-center rounded hover:bg-primary transition-all
}
.nav_menu1 h2{
    @apply text-[1.5rem] font-bold pt-[2rem] pb-[1.5rem]
}
.menu__container ul li a{
    @apply text-[1.2rem]
}
.menu__container ul li {
    @apply duration-700 pb-[1rem] hover:text-primary transition-all
}
.custom__html h2{
    @apply text-[1.5rem] pt-[1.5rem] pb-[1rem]
    lg:pt-[2rem]
}
.witr_sub_table{
    @apply flex justify-between text-[1.2rem] pb-[8px] border-b-[1px] mb-[8px]
}

/*-----------------------footer----------------------*/
.footer-bottom{
    @apply relative bg-dark text-white pt-[3rem]
}
.copy-right-text{
    @apply flex justify-center pb-[1rem] pt-[1rem] text-[1rem]
}
.text-right{
    @apply flex justify-center  gap-[1rem] 
    
}
.text-right li{
    @apply duration-700  hover:text-primary transition-all text-[1rem]
}
.row{
    @apply border-t-[1px]
lg:flex lg:justify-between lg:items-center
}


}
